{% extends "network/layout.html" %}

{% block body %}
    <div class="mt-2 mx-3">
        <h2>Your follower's posts</h2>

        {% for post in posts %}
            <div class="post-form mt-1 text-left">
                <a href="{% url 'profile' post.poster.id %}"><h5>{{ post.poster }}</h5></a>
                <p>{{ post.content }}</p>
                <p>{{ post.date }}</p>
            </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">{{ previous_page }}</a></li>
                {% endif %}

                <li class="page-item disabled"><span class="page-link color-type">{{ posts.number }}</span></li>

                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">{{ next_page }}</a></li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>

{% endblock %}
