{% extends "network/layout.html" %}

{% block body %}
    <div class="mt-2 mx-3">
        <h2>All Posts</h2>
        {% if user.is_authenticated %}
            <div class="post-form">
                <h4>New Post</h4>
                <form action="{% url 'newPost' %}" method="post">
                    {% csrf_token %}
                    <textarea class="form-control mb-1 post-box" name="new_post" id="new_post" cols="70" rows="3"></textarea>
                    <input type="submit" value="Post" class="btn btn-info">
                </form>
            </div>
        {% endif %}

        {% for post in posts %}
            <div class="post-form mt-1 text-left" id="post-{{ post.id }}">
                <div class="flex-container-2">
                    <div>
                        <a href="{% url 'profile' post.poster.id %}"><h5><strong>{{ post.poster }}</strong></h5></a>
                    </div>
                    <div>
                        {% if user == post.poster %}
                            <a href="javascript:void(0);" class="edit-post" data-post-id="{{ post.id }}" style="color: #17a2b8;">Edit</a>
                        {% endif %}
                    </div>
                </div>

                <p class="post-content">{{ post.content }}</p>
                <p>{{ post.date }}</p>
                <div class="like-div" id="like-container-{{ post.id }}">
                    <a href="javascript:void(0)" class="like-button {% if post.is_liked %}liked{% else %}unliked{% endif %}" 
                    id="like-button-{{ post.id }}" data-post-id="{{ post.id }}" data-like="{{ post.is_liked|yesno:'true,false' }}">
                        <i class="bi bi-heart-fill"></i>
                    </a>     
                    <span class="like-count" id="like-count-{{ post.id }}">{{ post.like_count }}</span>
                    <a href="javascript:void(0)" class="comment-link" data-post-id="{{ post.id }}">Comments</a>
                    <span class="comment-count" id="comment-count-{{ post.id }}">{{ post.comment_count }}</span>
                </div>
                <div id="comment-container-{{ post.id}}">
                    <div id="comments-section-{{ post.id }}" style="display:none;">
                        <!-- Comments go here -->
                    </div>
                    {% if user.is_authenticated %}
                        <textarea class="form-control comment-text" id="comment-text-{{ post.id }}" placeholder="Write a comment..." cols="70" rows="1"></textarea>
                        <button class="btn btn-info comment-btn" data-post-id="{{ post.id }}">Comment</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page1" aria-label="Previous">
                            <span style="color: #17a2b8;" aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" style="color: #17a2b8;" href="?page={{ posts.previous_page_number }}">{{ previous_page }}</a></li>
                {% endif %}

                <li class="page-item disabled"><span class="page-link color-type">{{ posts.number }}</span></li>

                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" style="color: #17a2b8;" href="?page={{ posts.next_page_number }}">{{ next_page }}</a></li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Next">
                            <span style="color: #17a2b8;" aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>

{% endblock %}
