.post-form {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.color-type {
    color: grey;
}

.inline-style h5, .inline-style p , .inline-style div {
    display: inline;
    margin-right: 5px;
}

/*in .flex-container, giving a space 5px between each items*/
.flex-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/*in .flex-container-2, give maximum gap between two items*/
.flex-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unliked {
    color: #a7a7a7;
    cursor: pointer;
}

.liked {
    color: #b60808;
    cursor: pointer;
}

.like-count {
    display: inline;
    color: #727272
}

.comment-count {
    display: inline;
    color: #727272
}

.comment-link {
    display: inline;
    margin-left: 10px;
    color: #727272;
    font-weight: 550;
}

.like-div {
    margin-bottom: 10px;
}

.comments-section {
    margin-bottom: 10px;
}

.comment-text {
    margin-bottom: 5px;
}

.comment-display {
    background-color: #e1e1e1; /* Light background for posts */
    border: 1px solid #e0e0e0;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.post-form {
    background-color: #f9f9f9; /* Light background for posts */
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

body {
    font-family: 'Arial', sans-serif; /* Clean, readable font */
}
h2, h4, h5, strong {
    color: #333; /* Darker color for better readability */
}

.btn-primary {
    background-color: #007bff; /* Example: Matching theme color */
    border: none;
}

/* Adjustments for better alignment and spacing */
.flex-container, .flex-container-2 {
    align-items: center;
}
